/* Coolors Exported Palette - coolors.co/03b5aa-037971-023436-00bfb3-049a8f */

/* HSL */
$color1: hsla(176%, 97%, 36%, 1);
$color2: hsla(176%, 95%, 24%, 1);
$color3: hsla(182%, 93%, 11%, 1);
$color4: hsla(176%, 100%, 37%, 1);
$color5: hsla(176%, 95%, 31%, 1);

/* RGB */
$color1: rgba(3, 181, 170, 1);
$color2: rgba(3, 121, 113, 1);
$color3: rgba(2, 52, 54, 1);
$color4: rgba(0, 191, 179, 1);
$color5: rgba(4, 154, 143, 1);