/* Coolors Exported Palette - coolors.co/a62639-db324d-12355b-420039-ffffff */

/* HSL */
$color1: hsla(351%, 63%, 40%, 1);
$color2: hsla(350%, 70%, 53%, 1);
$color3: hsla(211%, 67%, 21%, 1);
$color4: hsla(308%, 100%, 13%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(166, 38, 57, 1);
$color2: rgba(219, 50, 77, 1);
$color3: rgba(18, 53, 91, 1);
$color4: rgba(63, 98, 137, 1);
$color5: rgba(255, 255, 255, 1);