.helloWorld{
    width: 100vw;
    height: 100vh;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.helloWorldText{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10vw;
}
